%h1 Listing plaent_tags

%table
  %thead
    %tr
      %th Planet
      %th Tag
      %th
      %th
      %th

  %tbody
    - @plaent_tags.each do |plaent_tag|
      %tr
        %td= plaent_tag.planet_id
        %td= plaent_tag.tag_id
        %td= link_to 'Show', plaent_tag
        %td= link_to 'Edit', edit_plaent_tag_path(plaent_tag)
        %td= link_to 'Destroy', plaent_tag, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Plaent tag', new_plaent_tag_path
