= form_for @background do |f|
  - if @background.errors.any?
    #error_explanation
      %h2= "#{pluralize(@background.errors.count, "error")} prohibited this background from being saved:"
      %ul
        - @background.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
