%h1 Listing weapon_slots

%table
  %thead
    %tr
      %th Weapon
      %th Ammo slot
      %th Character
      %th Vehicle
      %th Item
      %th
      %th
      %th

  %tbody
    - @weapon_slots.each do |weapon_slot|
      %tr
        %td= weapon_slot.weapon_id
        %td= weapon_slot.ammo_slot_id
        %td= weapon_slot.character_id
        %td= weapon_slot.vehicle_id
        %td= weapon_slot.item_id
        %td= link_to 'Show', weapon_slot
        %td= link_to 'Edit', edit_weapon_slot_path(weapon_slot)
        %td= link_to 'Destroy', weapon_slot, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Weapon slot', new_weapon_slot_path
