%h1 Listing ships

%table
  %thead
    %tr
      %th Hp
      %th Free power
      %th Free mass
      %th Ship hull
      %th
      %th
      %th

  %tbody
    - @ships.each do |ship|
      %tr
        %td= ship.hp
        %td= ship.free_power
        %td= ship.free_mass
        %td= ship.ship_hull_id
        %td= link_to 'Show', ship
        %td= link_to 'Edit', edit_ship_path(ship)
        %td= link_to 'Destroy', ship, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Ship', new_ship_path
