%h1 Listing psi_discipline_sots

%table
  %thead
    %tr
      %th Character
      %th Psi discipline
      %th
      %th
      %th

  %tbody
    - @psi_discipline_sots.each do |psi_discipline_sot|
      %tr
        %td= psi_discipline_sot.character_id
        %td= psi_discipline_sot.psi_discipline_id
        %td= link_to 'Show', psi_discipline_sot
        %td= link_to 'Edit', edit_psi_discipline_sot_path(psi_discipline_sot)
        %td= link_to 'Destroy', psi_discipline_sot, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Psi discipline sot', new_psi_discipline_sot_path
