= form_for @location do |f|
  - if @location.errors.any?
    #error_explanation
      %h2= "#{pluralize(@location.errors.count, "error")} prohibited this location from being saved:"
      %ul
        - @location.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :planet_id
    = f.number_field :planet_id
  .field
    = f.label :satellite_id
    = f.number_field :satellite_id
  .field
    = f.label :poi_id
    = f.number_field :poi_id
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :gm_notes
    = f.text_field :gm_notes
  .actions
    = f.submit 'Save'
